* {
    font-family: 'CaskaydiaCove Nerd Font Mono';
    background-image: none;
    font-size: 24px;
}

window {
    background-color: rgba(21, 25, 43, 0.8);
}

button {
    color: white;
    background-color: rgba(31, 35, 53, 1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    animation: gradient_f 20s ease-in infinite;
    outline-style: none;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
    border-width: 0px;
    min-width: 0;

}

button:focus {
    background-color: rgba(255, 158, 100, 1);
    background-size: 30%;
}

button:hover {
    background-color: rgba(255, 158, 100, 1);
    background-size: 40%;
    border-radius: 100px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

button:hover#lock {
    border-radius: 20px;
    margin: 10px 0px 10px 0px;
}

button:hover#logout,
button:hover#suspend,
button:hover#shutdown,
button:hover#hibernate {
    border-radius: 20px;
    margin: 10px 0px 10px 0px;
}

button:hover#reboot {
    border-radius: 20px;
    margin: 10px 0px 10px 0px;
}

button:focus#lock {
    border-radius: 20px;
    margin: 10px 0px 10px 0px;
}

button:focus#logout,
button:focus#suspend,
button:focus#shutdown,
button:focus#hibernate {
    border-radius: 20px;
    margin: 10px 0px 10px 0px;
}

button:focus#reboot {
    border-radius: 20px;
    margin: 10px 0px 10px 0px;
}

#lock {
    background-image:
      image(url("./icons/lock.png"));
    border-radius: 40px 0px 0px 40px;
    margin: 20px 0px 20px 0px;
}

#logout {
    background-image:
      image(url("./icons/logout.png"));
    border-radius: 0px;
    margin: 20px 0px 20px 0px;
}

#suspend {
    background-image:
      image(url("./icons/suspend.png"));
    border-radius: 0px;
    margin: 20px 0px 20px 0px;
}

#shutdown {
    background-image:
      image(url("./icons/power.png"));
    border-radius: 0px;
    margin: 20px 0px 20px 0px;
}

#hibernate {
    background-image:
      image(url("./icons/sleep.png"));
    border-radius: 0px;
    margin: 20px 0px 20px 0px;
}

#reboot {
    background-image:
      image(url("./icons/restart.png"));
    border-radius: 0px 40px 40px 0px;
    margin: 20px 0px 20px 0px;
}
